@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&family=Shadows+Into+Light&display=swap");

:root {
	--dark-lava: #443d36;
	--dim-gray: #71665b;
	--tan: #dec4a1;
	--brown-sugar: #a8674d;
	--umber: #665c52;
}

body {
	width: 95%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	background: var(--dark-lava);
	color: var(--tan);
}

section{
	border-radius: 25px;
}

.navbar {
	font-size: 32px;
}

.logo {
	font-family: "Shadows Into Light", cursive;
	font-size: 60px;
	text-shadow: 5px -5px 5px var(--dim-gray);
}

.container {
	text-align: center;
	border-radius: 15px;
}

.container li a,
a,
li {
	text-decoration: none;
	color: var(--brown-sugar);
	list-style-type: none;
	cursor: pointer;
}

.hero {
	background: var(--tan);
	color: var(--brown-sugar);
}

.hero img {
	width: 100%;
	border-radius: 25px;
}

.first-con,
.third-con {
	background: var(--dim-gray);
}

.second-con {
	background: var(--tan);
	color: var(--brown-sugar);
}

.features-section {
	width: 80%;
	margin: 3rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.hero,
.features-section .container {
	margin: 1rem 0;
	padding: 2rem 1.5rem;
}

.gallery-section .container {
	background: var(--umber);
}

.gallery-section .container img {
	margin: 1rem 0;
	width: 50%;
	border-radius: 25px;
}

.contact-section {
	background: var(--dark-lava);
}

.features-section .container img {
	width: 100px;
	height: 100px;
}

.right-col{
	margin: 1rem 0;
}

textarea{
	resize: none;
	display: block;
	margin: 10px auto;
	border-radius: 5px;
}

input[type="text"], input[type="email"], button{
	border: none;
	border-radius: 5px;
	padding: 5px;
}

button{
	padding: 1rem 2rem;
}

button:hover{
	cursor: pointer;
	background: var(--tan);
	transition: all 1s linear;
}

.footer{
	text-align: center;
	margin: 1rem 3rem;
	padding: 1rem 2rem;
	border-radius: 25px;
}

.footer div{
	background: var(--dark-lava);
	border: 5px solid var(--umber);
	padding: 0 1rem;
	margin: 2rem 0;
	border-radius: 25px;
}

@media only screen and (min-width: 1024px) {

	.hero .container{
		width: 75%;
		margin: 0 auto;
	}

	.hero .container img{
		width: 50%;
	}
	.features-section {
		flex-direction: row;
		align-items: stretch;
		width: 95%;
	}

	.features-section .container {
		width: 25%;
		margin: 0 1rem;
	}

	.gallery-section .container {
		display: grid;
		grid-template: repeat(2, 50%) / repeat(2, 50%);
	}

	.gallery-section .container div{
		margin: 1rem;
	}

	.gallery-section .container div img {
		width: 80%;
	}

	.contact-section .container{
		display: flex;
		/* border: 2px solid blue; */
	}

	.contact-section div{
		width: 100%;
		padding: 1rem;
		/* border: 2px solid red; */
	}

	footer{
		display: flex;
		text-align: center;
	}

	.footer div{
	margin: 0 1rem;
	}
}
